/* ErrorPage.css */ 
:root{
    --error-page-link-color: #165bfe;
}

body{
    justify-self: center;

}

.error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;   
    box-sizing: border-box;

}


.error-page > a{
    font-weight: bold;
    size: 20px;
    text-decoration: none;
    color: var(--error-page-link-color);
}