/* ErrorPage.css */

body{
    justify-self: center;
}

.error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}


.error-page > a{
    font-weight: bold;
    size: 1.4rem;
}