:root{
  --navbar-background: #1d524f
}

.navbar {
  display: flex;
  gap: 2rem;
  background: var(--navbar-background);
  width: 100%;
  min-width: 320px;
  padding: 1rem 4rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.navbar-left, 
.navbar-right{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

.navbar a:hover {
  text-decoration: underline; 
}